In [ ]:
%pip install mysql-connector-python

In [4]:
import mysql.connector as connector

In [14]:
dbuser = 'your_username'
dbpwd = 'your_password'
dbname = 'littlelemondb'

In [15]:

connection = connector.connect(user=dbuser, password=dbpwd, db=dbname)

In [16]:
cursor = connection.cursor()

In [ ]:
show_tables_query = 'SHOW TABLES'

cursor.execute(show_tables_query)

result = cursor.fetchall()

for table in result:
    print(table)

In [17]:
# Task 3
# Query with table JOIN

# For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign. 

customer_query = '''
SELECT c.Name, c.ContactNumber, c.Email
FROM Customers c
INNER JOIN Orders o ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
'''

cursor.execute(customer_query)

result = cursor.fetchall()

for customer in result:
    print(customer)

('John Mane', '1234567890', 'john@email.com')
('Jane Chukk', '1234567891', 'jane@email.com')
('Sam Francis', '1234567892', 'sam@email.com')
('Sara Chills', '1234567893', 'sara@email.com')
('Tom Hanks', '1234567894', 'tom@email.com')
('Tina Toddle', '1234567895', 'tina@email.com')
('Sara Chills', '1234567893', 'sara@email.com')
('Tina Toddle', '1234567895', 'tina@email.com')
('Jane Chukk', '1234567891', 'jane@email.com')
('Sam Francis', '1234567892', 'sam@email.com')
('John Mane', '1234567890', 'john@email.com')
('Jane Chukk', '1234567891', 'jane@email.com')
('Sam Francis', '1234567892', 'sam@email.com')
('Sara Chills', '1234567893', 'sara@email.com')
('Tom Hanks', '1234567894', 'tom@email.com')
('Mike Pence', '1234567896', 'mike@email.com')
('Mila Jones', '1234567897', 'mila@email.com')
('Jack Withman', '1234567898', 'jack@email.com')
('Jill Klanm', '1234567899', 'jill@email.com')
('Mike Pence', '1234567896', 'mike@email.com')